.body {
    width: 95%;
    margin: 2%;
}
.Content {
    width: 96%;
    margin-left: 2%;
}
.button {
    margin: 5px;
    margin-top: 20px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
