.list-menu {
    width: 100%;
}
.form-element {
    margin-top: 10px;
    width: 100%;
    display: flex;
}
.form-label {
    width: 15%;    
    padding-top: 10px;
    text-align: right;
}
.form-value {
    width: 50%;
    margin-left: 30px;    
}
@media (max-width: 962px){
    .list-menu {
        padding-left: 15px;
    }
    .form-label {
        width: 100%;
        text-align: left;
    }
    .form-value {
        margin-left: 0;
        margin-top: 10px;
    }
    .form-element {
        display: block;
    }
}